/* Reset some basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* background-color: #1e1e2e;*/
  background: linear-gradient(rgba(49, 43, 73, 1) 0%, rgba(26, 26, 35, 1) 100%);
  color: white;
}

/* Container for the page */
.container {
  display: flex;
  flex-grow: 1;
}

/* Main content styling */
.main-content {
  flex-grow: 1;
  padding: 40px;
}

.main-content h1 {
  margin-bottom: 20px;
  font-size: 32px;
}

.stats-section {
  display: flex;
  justify-content: space-between;
}

.stats-card {
  background-color: #2a2a40;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
}

.stats-card h2 {
  margin-bottom: 15px;
  font-size: 22px;
}

.stats-card p {
  font-size: 18px;
  margin-bottom: 10px;
}

footer {
  background-color: #282838;
  padding: 15px;
  text-align: center;
  color: white;
  margin-top: auto;
}

footer a {
  color: #00ae86;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
