/* General Styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #d1e1e5;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1,
h2 {
  color: #a4d65e;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

h3 {
  margin: 0;
  font-size: 1.2em;
}

p {
  margin: 5px 0;
  font-size: 0.9em;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
}

/* Navigation Styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b1b1b;
  padding: 10px 20px;
}

nav div {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

nav div a,
button,
#loginBTN,
#logoutBTN {
  background-color: #333;
  color: #a4d65e;
  border: 1px solid #a4d65e;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

nav div a:hover,
button:hover,
#loginBTN:hover,
#logoutBTN:hover {
  background-color: #a4d65e;
  color: #111;
}

#nav-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: 0 10px;
  box-sizing: border-box;
  text-decoration: none;
}

#nav-links a img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  flex-shrink: 0;
  filter: brightness(0) invert(1);
}

#logo {
  height: 50px;
  background-color: #333;
  color: #a4d65e;
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #a4d65e;
  border-radius: 5px;
  margin: 0 10px;
}

#logo:hover {
  transform: rotate(360deg);
  transition: all 0.5s ease;
  background-color: #a4d65e;
  color: #111;
  border: 1px solid #111;
}

/* Main Content */
main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

section {
  margin-bottom: 40px;
}

/* Home page */
#bot-stats {
  display: flex;
  gap: 15px;
}

#bot-stats div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #222;
  padding: 20px;
  border: 1px solid #d1e1e5;
  border-radius: 5px;
}

/* Server Section */
#servers {
  background-color: #1b1b1b;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.server-list {
  display: flex;
  flex-direction: column;
}

.server-item {
  display: flex;
  align-items: center;
  background-color: #222;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
  transition: background-color 0.3s;
}

.server-item:hover {
  background-color: #333;
}

.server-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 20px;
  background-color: #1b1b1b;
  color: #a4d65e;
  width: 100%; /* Full width footer */
}

footer a {
  color: #5e99d6;
  text-decoration: none;
}
