/* General Styles */
body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #d1e1e5;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b1b1b;
  padding: 10px 20px;
}

nav img {
  height: 50px;
  background-color: #333;
  color: #a4d65e;
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #a4d65e;
  border-radius: 5px;
  margin: 0 10px;
}

nav img:hover {
  transform: rotate(360deg);
  transition: all 0.5s ease;
  background-color: #a4d65e;
  color: #111;
  border: 1px solid #111;
}

nav div a {
  place-content: center;
  background-color: #333;
  color: #a4d65e;
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #a4d65e;
  border-radius: 5px;
  margin: 0 10px;
  transition: all 0.3s ease;
}

nav div a:hover {
  background-color: #a4d65e;
  color: #111;
}

/* Centering links and moving login button to the right */
nav div {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

nav button {
  background-color: #333;
  color: #a4d65e;
  border: 1px solid #a4d65e;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

nav button:hover {
  background-color: #a4d65e;
  color: #111;
}

#loginBTN,
#logoutBTN {
  background-color: #a4d65e;
  color: #111;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#loginBTN:hover,
#logoutBTN:hover {
  background-color: #90c651;
}

@media (max-width: 724px) {
  nav div {
    display: none;
  }
}

/* Button Styles */
button {
  background-color: #333;
  color: #a4d65e;
  border: 1px solid #a4d65e;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #a4d65e;
  color: #111;
}

/* Main Content */
main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

section {
  margin-bottom: 40px;
}

#hero {
  text-align: center;
  margin-bottom: 40px;
}

h1 {
  font-size: 2.5em;
  color: #a4d65e;
}

h2 {
  font-size: 1.8em;
  color: #a4d65e;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
}

/* Server Section */
#servers {
  background-color: #1b1b1b;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.server-list {
  display: flex;
  flex-direction: column;
}

.server-item {
  display: flex;
  align-items: center;
  background-color: #222;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
  transition: background-color 0.3s;
}

.server-item:hover {
  background-color: #333;
}

.server-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 20px;
  background-color: #1b1b1b;
  color: #a4d65e;
  position: relative;
  bottom: 0;
  width: 100%; /* Full width footer */
}

footer a {
  color: #5e99d6;
  text-decoration: none;
}

/* Miscellaneous Styles */
h3 {
  margin: 0;
  font-size: 1.2em;
}

p {
  margin: 5px 0;
  font-size: 0.9em;
}

#bot-stats {
  display: flex;
  gap: 15px;
}

#bot-stats div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #222;
  padding: 20px;
  border: 1px solid #d1e1e5;
  border-radius: 5px;
}
